body{
    background-color: peachpuff;
    color: black;
    font-size: 17px;
    font-family: 'Balsamiq Sans', cursive;
}
h1{
    font-family: 'Orbitron', sans-serif;
    font-size: 25px;
}
h3{
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
}